<?xml version="1.0"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127
  <httpCookies requireSSL="true" /> 

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=91.98.96.201;  Initial Catalog=kimiahost_d20;  User ID=demah;Password=K2KJDfsc12" />
  <add name="cn1" connectionString="Data Source=91.98.96.201;  Initial Catalog=kimiahost_d20;  User ID=demah;Password=K2KJDfsc12" />
  <add name="kimiahost_d20ConnectionString" connectionString="Data Source=91.98.96.201;  Initial Catalog=kimiahost_d20;  User ID=demah;Password=K2KJDfsc12"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<pages enableViewStateMac="False" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<trace enabled="false" localOnly="true"/>
		<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1"/>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
		</compilation>
	</system.web>
</configuration>
